body { 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0px; 
    font-family: "Open Sans", sans-serif; 
    background: url("https://images.unsplash.com/photo-1515694346937-94d85e41e6f0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80") rgb(125, 195, 245); font-size: 120%; 
}

.card { 
    background: rgba(0, 0, 0, 0.816); 
    color: aliceblue; 
    padding: 1.5em; 
    border-radius: 50px; 
    width: 100%; 
    max-width: 420px; 
    margin: 1em; 
}

.search { 
    display: flex; 
    align-items: center; 
}

button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 2.5em;
    width: 2.5em;
    outline: none;
    background: rgba(124, 124, 124, 0.486);
    color: aliceblue;
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 0.5em 1em;
    border-radius: 80px;
    background: rgba(124, 124, 124, 0.486);
    color: aliceblue;
    font-family: inherit;
    font-size: 72%;
    width: 100%;
}

button:hover { 
    background: rgba(124, 124, 124, 0.42); 
}

h1.temp { 
    margin: 0px;
    margin-bottom: 0.4em;
}

.flex{
    display: flex;
    align-items: centre;;
}

.description{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-left: 8px;;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading.after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}